body {
    background-color: lightgoldenrodyellow;
}

h1 {
    color: darkorchid;
    text-align: center;
}

h2 {
    color: dodgerblue;
}

.demo-container {
    display: flexbox;
    text-align: center;
}   

button {
    padding: .2rem .5rem .2rem .5rem;
    margin: .1rem;
    border-radius: .5rem;
    border-color: darkorchid;
    background-color: hotpink;
    color: white;
    box-shadow: 0 0 .2rem darkorchid;
}